.header{
  background-color: #333;
  overflow: hidden;
  box-shadow: 10px 10px 5px grey;
}

/* Add a black background color to the top navigation */
.topnav {
  float: right;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
  cursor: pointer;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.bellRings {
  display: block;
  color: white;
  padding: 0px 16px;
  text-decoration: none;
  font-size: 20px;
  font: bold;
}


.eventsMain {
  font-size: 24px;
  background-color: transparent;
  text-align: center;
  overflow: hidden;
}

.eventsMain img{
	max-width:25%;
  height:auto;
  align-self: center;
  padding-top: 50px;
}

.eventsMain:hover img{
  max-width:50%;
  height:auto;
  transition: max-width 2s, height 2s ;
}

.eventsMain:hover{
  background-color: rgba(gold, gold, gold, 10%);
  font-size: 38px;
  box-shadow: 10px 10px 10px grey;
  transition: background 1s, font-size 1s, box-shadow 1.5s;
  cursor: pointer;
}